/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; margin: 0; padding: 0; border: 0; background: #FFFFFF;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: center;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
a { color: #8D0D19;}

#header {
    height: 90px;
    text-align: left;
    background: #1e3a60;
    color: #e9dfab;
}
#header h1 {
    padding: 8px;
}

/* Note: IE 5 & 6 won't understand min-height */
#main { height: 600px; width: 100%; background: #EEE4B9; padding: 2em;}

#footer { height: 2em; padding: 1em; text-align: center; 
  background: #1A446C;  color: #D4E6F4; }

table.bordered tr th, table.bordered tr td {
    border: 1px solid #000000;
}

#logo {
    position: static;
    top: 5px;
    right: 30px;
}

.secondary{
    position: relative;
    top: -170px;
    left: 240px;
    color: red;
}
.secondary label{
    display: block;
}

.menu{

    background-color: #ffffff;
    z-index: 2;
}
.menu ul{
    width: 100%;
    margin: 0; padding: 0;
    float: left;
    }

.menu ul li{

    display: inline;}

.menu ul li a{
    float: left; text-decoration: none;
    color: #eee296;
    padding: 10px 11px;
    background-color: #1e3a60; }



.menu ul li a:hover, .menu ul li .current{
    color: #eee296;
    background-color:#0b75b2;
}

/*.menu li.active a {*/
    /*color: #474747;*/
    /*background-color: #DFF0DB;*/
/*}*/


